.table-container .default-content-wrapper p{
    text-align: right;
}

.table-container th, .table-container tr{
    width: 25%;
    border-bottom: 1px solid #eee;
}

.table-container table{
    width: 100%;
}

.table-container th{
    text-align: left;
    border-bottom: 1px solid #eee;
}

.button-container a.button{
    width: 200px;
    margin:0;
}

.product-card{
    display: flex;
}

.card-left{
    width: 22%;
}

.card-right {
    width: 60%;
    margin-left: 20px;
}

.card-left img{
    width: 100%;
    height: 150px;
}

tbody tr td:first-child{
    width: 60%;
}

td span.remove, td span.add{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

td span.delete{
    cursor: pointer;
    font-size: 13px;
}


