.table-container .default-content-wrapper p{
    text-align: right;
}

.table-container th, .table-container tr{
    width: 25%;
    border-bottom: 1px solid #eee;
}

.table-container table{
    width: 100%;
}

.table-container th{
    text-align: left;
    border-bottom: 1px solid #eee;
}

.button-container a.button{
    width: 200px;
    margin:0;
}